body {
    background: black;
    font-family: tahoma;
    line-height: 1.7;
}

.page-title {
    color: white;
    background: black;
    border-bottom: 1px solid white;
    padding: 10px;
    margin: 10px;
}

.page-subtitle {
    color: white;
    background: black;
    border-bottom: 1px solid white;
    padding: 10px;
    margin: 10px;
}

.text {
    color: white;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-size: 40px;
}
